<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
   

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid d-flex ">
          <a class="navbar-brand col-6" href="#">ElSaleh School</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse col-6 flex-row-reverse" id="navbarSupportedContent">
            <a href="{%url 'Login'%}" style='margin:10px'>Logout</a>
            <p class="text-white mt-2" >{{username}}</p>

          </div>
        </div>
      </nav>

      <form  action="{%url 'Home'%}" method="POST" class="row g-3 align-items-center m-auto">
        {% csrf_token %}
        <div class="row g-3 align-items-center">  
            <div class="col-auto">
              <input type="text" class="form-control" aria-describedby="passwordHelpInline" placeholder="Student Name" name='name'>
            </div>
            <div class="col-auto">
                <input type="email" class="form-control" aria-describedby="passwordHelpInline" placeholder="Email" name='email'>
              </div>
              <div class="col-auto">
                <input type="text" class="form-control" aria-describedby="passwordHelpInline" placeholder="Password" name='password'>
              </div>
              <div class="col-auto">
              <input class="btn btn-outline-success" type="submit" value='add student'/>
              </div>
            </div>
            
      </form>
      <div style='color:red'></div>


      <table class="table table-hover">

        <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">User Name</th>
              <th scope="col">Email</th>
              <th scope="col">Password</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                {% for student in allstudents %}
                <th scope="row">{{student.id}}</th>
                <td>{{student.name}}</td>
                <td>{{student.email}}</td>
                <td>{{student.password}}</td>
                <td><button type="button" class="btn btn-danger"><a href="{%url 'Delete' student.id %}" class="text-white">delete</a></button></td>
                <td><button type="button" class="btn btn-success"><a class="text-white">update</a></button></td>
              </tr>
                {% endfor %}
        </tbody>




      



      </table>




    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
 
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  
  </body>
</html>